
table {
  width: 80vw;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #64CCC5;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #EEEEEE;
}

/* src/app/your-component.css */

/* Style all buttons */
button {
  padding: 5px 10px;
  width: 50%;
  background-color: #8a2be2; /* Purple color */
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 10px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition on hover */
}

/* Change button color on hover */
button:hover {
  background-color: #6a1b9a; /* Darker purple on hover */
}

td img{
  width: 300px;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
}

/* Adjust the styling as needed */
