.Login{
    display: flex;
    align-self: baseline;
    width: 500px;
    margin-left: 250px;
}

.Login button{
    width: 130px;
    height: 35px;
    border-radius: 10px;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 13px;
    align-self: center;
    margin-left: 5%;
}
.Login input{
    width: 130px;
    height: 35px;
    border-radius: 15px;
    background-color: #1b1b1bff;
    border: 1px solid white;
    margin-left: 5%;
   
}
.Login p{
    margin-left: 5%;
   
}