/* Default styles for larger screens */
.layout-main {
    width: 100%;
    display: flex;
    background-color: #212123;
    color: white;
    height: 100%;
}

.sideBar {
    width: 20vw;
    height: auto;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    color: #80838c;
}

/* Media query for smaller screens (adjust the breakpoint as needed) */
@media (max-width: 768px) {
    .layout-main {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .sideBar {
        width: 100%; /* Take up full width on smaller screens */
        padding: 20px; /* Add some padding for better spacing */
    }
}
