<aside>
  <div class="sidebar">
    <div class="aside-1">
      <h1><a routerLink="/">MOBkas</a></h1>
      <button
        (click)="showInput()"
        style="background-color: #8f61da"
        class="button-aside"
      >
        <strong>Add Data</strong>
      </button>
      <h3>
        Jual Beli Mobil Bekas Mudah dan Aman</h3>
        <br>
        <p>Pasar mobil bekas di Indonesia semakin berkembang pesat. Hal ini karena banyak orang yang mencari mobil dengan harga yang lebih terjangkau. Selain itu, mobil bekas juga memiliki berbagai pilihan model dan merek yang beragam, sehingga memudahkan pembeli untuk menemukan mobil yang sesuai dengan kebutuhan.</p>
    </div>
  </div>
</aside>
