


aside {
    background-color: #053B50; 
    color: #80838c; 
    width: 20vw; 
    padding: 10px; 
    height: 100vh;
    color: white;
  }
  
  
  aside h1 a {
    text-decoration: none; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
  }
  
  
  .button-aside {
    width: 100%; 
    height: 40px; 
    border-radius: 20px; 
    
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    margin-top: 20px; 
    border: none; 
  }
  
  
  .button-aside:hover {
    background-color: #64CCC5; 
  }
  