#main-header{
    background-color: #212123;
    backdrop-filter: blur(20px);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1%;
    /* z-index: 1; */
}

#main-header h1{
    font-size: 25px;
    color: #9288F8;
}

#main-header p:hover{
   color: #A1CCD1;
}

#main-header p{
    font-size: 20px;
    color: #8f61daff
}

.navbar{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
}