/* Default styles for larger screens */
.button-aside {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    align-self: center;
}

.aside-1,
.aside-2{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-2 {
    margin-top: 10%;
    gap: 15px;
}

/* Media query for smaller screens (adjust the breakpoint as needed) */
@media (max-width: 768px) {
    .button-aside {
        width: 100%; /* Take up full width on smaller screens */
    }

    .aside-1,
    .aside-2{
        padding: 5%;
        margin-top: 10px; /* Add some margin for spacing on smaller screens */
        gap: 10px;
        align-items: center;
    }

    .aside-2 {
        margin-top: 20px; /* Adjust the margin on smaller screens */
        gap: 15px;
    }
}
