<aside>
    <div class="sidebar">
        <div class="aside-1">
            <h1>GAmes</h1>
            <button style="background-color: #8f61da; " class="button-aside"><strong>Masuk</strong></button>
            <p>Profile</p>
            <p>Search</p>
            <p>Favorite</p>
            <p>Balance</p>
        </div>
        <div class="aside-2">
            <h2>Category</h2>
            <p>Computer Mouse</p>
            <p>Game Headphones</p>
            <p>Game Pads</p>
        </div>
        <div class="aside-3">
            <img src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/90f8d7cf.svg" alt="">
        <img src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/bb6967ee.svg" alt="">
        <img src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/c6c3a108.svg" alt="">
        </div>
    </div>
</aside>