<aside>
    <div class="sidebar">
        <div class="aside-1">
            <h1>GAmes</h1>
            <button style="background-color: #8f61da; " class="button-aside"><strong>Masuk</strong></button>
            <p>Profile</p>
            <p>Search</p>
            <p>Favorite</p>
            <p>Balance</p>
        </div>
        <div class="aside-2">
            <h2>Category</h2>
            <p>Computer Mouse</p>
            <p>Game Headphones</p>
            <p>Game Pads</p>
        </div>
    </div>
</aside>