<footer>
    <div class="footer-2">

    <div class="test">
        <div>
            <h3>Shopoo</h3>
            <p>Tentang kami</p>
            <p>Karir</p>
            <p>Blog</p>
        </div>
        <div>
            <h3>Beli</h3>
            <p>Tagihan & Top Up</p>
            <p>Tukar Tambah Handphone</p>
            <p>Shopoo COD</p>
        </div>
    </div>
    <div>
        <div>
            <h3>Jual</h3>
            <p>Pusat Edukasi Seller</p>
            <p>Mitra Toppers</p>
            <p>Daftar Official Store</p>
        </div>
        <div>
            <h3>Bantuan dan Panduan</h3>
            <p>Syarat dan ketentuan</p>
            <p>Kebijakan Privasi</p>
            <p>Mitra</p>
        </div>
    </div>
    <div>
        <h3>Ikuti Kami</h3>
        <img src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/90f8d7cf.svg" alt="">
        <img src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/bb6967ee.svg" alt="">
        <img src="https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/c6c3a108.svg" alt="">
    </div>
</div>
</footer>

